<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            AGROASSIST
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!--GOOGLE FONT-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap"
    rel="stylesheet">
  <!--Fontawesome-->
  <script src="https://kit.fontawesome.com/e6e8ec7688.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="D:\USER DATA\Desktop\AGROASSIST\Agroassist_services\land_prep\fertilizer\land_prep.css">
  <style>:root{
    --white: #f9f9f9;
    --black: #f8fcf8;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Montserrat";
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    height: 125px;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    
    margin-left: 10px;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
margin-top: 50px;
}
.menu a{
    display: block;
    padding: 30px;
    color: green;
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: green;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: green;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}
.main{
    width: 150px;
    height: 150px;
    border-radius: 10000000px;
}
.slide{
    padding-bottom: 5px;
  
    
}
.header{
    position: relative;
    z-index: 100;
}
#pricing{
    padding:100px ;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
h2{
    color: green;
    text-align: center;
    margin-bottom: 25px;
}
h3{
    color: green;
}
.seasonal{
    
    background-color: beige;
    
    margin-top: 5px;
    margin-left: 85px;
    border: 1px solid gray;
    
   padding-left: 0;
    height: 215px;
}
.seasonal img{
    width: 190px;
    height: 120px;
    margin-top: 5px;
   margin-left: 5px;
   box-shadow:10px 5px  rgba(202, 178, 178, 0.4);
}
.seasonal_body{
    font-weight: 800;
    color: green;
    font-size: 30px;
     text-align: center;
}
.item{
    background-color: beige;
    
    margin-top: 5px;
   
    border: 1px solid green;
    
    text-align: center;
    height: 240px;
}
.item img{
    width: 190px;
    height: 120px;
    margin-top: 10px;
   
}
.item_header{
    text-align: right;
    color: red;
    font-weight: 800;
    box-shadow:2px 2px 2px 2px  rgba(0, 0, 0, 0.4);
    margin-top: 5px;
}

.item_body2{
    text-align: left;
}
.item_footer{
    text-align: right;
    font-size: 13px;
   
    border-top: 0.5px solid black;
}
button{
    border: white;

}
.bank_body{
    font-size:17px;
    
    color: white;
    
}
.bank{
    
    background-color: beige;
    
    margin-top: 5px;
    margin-left: 85px;
    border: 1px solid gray;
    
   padding-left: 0;
    height: 215px;
    text-align: center;
}
.bank img{
    width: 190px;
    height: 120px;
    text-align: center;
margin-left: 12px;
margin-top: 20px;
}
.other{
    
    
    
    margin-top: 5px;
    margin-left: 85px;
    
    
   padding-left: 0;
    height: 215px;
}
.other img{
    border: 1px solid gray;
    margin-right: 5px;
}
.foot{
    
   
    color: black;
    margin-top: 5px;
    margin-left: 85px;
    text-align: center;
    
   padding-left: 0;
    height: 215px;
}
.foot_main{
    background-color: #BDFCB1;
  
}
.screen_item{
    background-color: beige;
    width: 1000px;
    height: 180px;
    padding-left: 120px;
    
}
.fa-star{
    font-size: 10px;
    margin-bottom: 5px;
    
   
}
.name{
    margin-bottom: 0px;
}
.fuc{
    font-size: 15px;
}
#line_spacing{
    margin-bottom: 8px;
    margin-top: 8px;
}
.imageoo{
   float:right;
   padding-right: 90px;
}
.para{

        margin-bottom: 8px;
}
.imageoo_1{
    float:right;
    padding-right: 70px;
    
 }
.overall_div{
    overflow-y: scroll;
height: 800px;
    
}
.bill{
    background-color: brown;
    display: flexbox;
    float: right;
    width: 500px;
    height: 800px; 
}
.pura{
    margin-top: 30px;
}
</style>
    </head>
    <body>
        
        <header class="header">
          <!-- Logo -->
          <a href="#" class="logo"><img class="main" src="C:\Users\mahes\OneDrive\Desktop\aggro_assist_2-removebg-preview.png" alt="main"></a>
          <!-- Hamburger icon -->
          <input class="side-menu" type="checkbox" id="side-menu"/>
          <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
          <!-- Menu -->
          <nav class="nav">
              <ul class="menu">
                  <li><a href="#">HOME</a></li>
                  <li><a href="#"> SERVICES</a> </li>
                  <li><a href="#">Join Us</a></li>
                  <li><a href="D:\USER DATA\Desktop\AGROASSIST\sign_in.html">Sign-Up/Log-In</a></li>
              </ul>
          </nav>
      </header>
      <br>
      <br>
      <br>
      <div class="slide ">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-ds-interval="1000ms">
          <div class="carousel-inner">
            <div class="carousel-item active" style=" height:650px;">
              <img src="https://goldwallpapers.com/uploads/posts/farm-desktop-wallpaper/farm_desktop_wallpaper_009.jpg" class="d-block w-100" alt="img_1">
            </div>
            <div class="carousel-item" style=" height:650px;">
              <img src="http://getwallpapers.com/wallpaper/full/6/c/6/427665.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style=" height:650px;">
              <img src="https://tse3.mm.bing.net/th?id=OIP.LIKzofgx06O7FJot8j-iEQHaEK&pid=Api&P=0&h=180" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script> 



      <div class="bill">bljbljbljblj</div>
      <div class="overall_div">
        <div class="pura">
          <!--tractor-->
          <%document_one_d.forEach(function(one_d){%>
            <div class="screen_item">
              <div class="imageoo">
                <img src="https://files.softicons.com/download/culture-icons/one-piece-jolly-roger-icons-by-crountch/png/96x96/Sanji.png"> 
              </div>
              <div class="item_land_preparation">
                <h1 class="name"><%=one_d.name%></h1>
                <i class="fa-solid fa-star"> 4.79 (45k reviews)</i><br>
                <i class="fa-solid fa-indian-rupee-sign fuc"> <%=one_d.price%></i>
                <hr id="line_spacing">
                <div class="imageoo_1">
                  <button><p><i class="fa-solid fa-cart-shopping"> Add To Cart</i></p></button>
                </div>
              </div>
              <p style="margin-bottom: 8px;"> <%=one_d.description%> </p>
              <p><a href="#">VIEW MORE</a></p>
            </div>
            <br>
      <%});%>
          <footer class="foot_main">
           
            <div class= "row">
             
              <div class="foot col-lg-2 col-md-6">
          <h5><u>KNOW US</u></h5>
          <br>
About Us<br>
Careers<br>
Press Releases<br>
Motive
              </div>
              
              
              <div class="foot col-lg-2 col-md-6">
                <h5><u>JOIN</u></h5>
                <br>
      Benefits<br>
      Process<br>
      Application<br>
      Other
              </div>
              
              <div class="foot col-lg-2 col-md-6">
                <h5><u>LATEST</u></h5>
                <br>
      New Releases<br>
      Rates<br>
      Products<br>
      Many More..
              </div>
              
              
              <div class="foot col-lg-2 col-md-6">
                <h5><u>HELP DESK</u></h5>
                <br>
      Services related<br>
      Product Related<br>
      Job Related<br>
      Other
              </div>
              </div>
              <div class="icon" style="margin-left: 550px;">
                <h5><u style="margin-left: 50px;"> CONNECT US</u></h5>
                <div class="icon_img">
                <i class="fa-brands fa-google-play fa-2x" style="margin-right: 15px;"></i>
                <i class="fa-brands fa-apple fa-2x" style="margin-right: 15px;"></i>
                <i class="fa-brands fa-facebook fa-2x" style="margin-right: 15px;"></i>
                <i class="fa-brands fa-instagram fa-2x" style="margin-right: 15px;"></i>
                <i class="fa-brands fa-twitter fa-2x"></i>
                </div>

              </div>
          </footer>
    </body>
</html>